boyd{
    background-color: rgba(209, 117, 209, 0.933);
}
h1{
    font-size: x-large;
    color: blanchedalmond;
    text-align: center;
}
p{
    color: rgb(230, 22, 185);
}
#encabezado {
    background-color: rgb(221, 61, 200);
    min-height: 200px;
    height: auto;
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 40px 0px 20px 0px ;
    box-shadow: 5px 5px 15px #ff6fb1;
    

    
}
#encabezado h1{
    color: rgb(255, 255, 255);
}
#boton{
     background: linear-gradient(135deg, #ff9ecf, #ff6fb1);
     background-color: rgba(209, 117, 209, 0.933) ;
    color: #ffffff;
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(255, 111, 177, 0.4);
    transition: all 0.3s ease;
}

#encabezado .encabezado1{
    color: #ffffff;
}

#encabezado .encabezado2{
    color: #ffffff;
}
#encabezado .encabezado{
    color: #ffffff;
}
